<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Product Manager  </h1>
  <div class="main-nav">
    <ul>
      <li><button [routerLink]="['home']">Home</button></li> |
      <li><button [routerLink]="['products']">View Products</button></li> |
      <li><button [routerLink]="['add']">Add New Product</button></li>

      <!-- <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> -->
    </ul>

  <router-outlet></router-outlet>
